@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.gradientBackground {
		background: #dc2424; /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #4a569d, #dc2424); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#4a569d,
			#dc2424
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.gradientBackgroundReverse {
		background: #dc2424; /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #4a569d, #dc2424); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to bottom,
			#4a569d,
			#dc2424
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}

[data-placeholder='true']::after {
	content: ' ';
	box-shadow: 0 0 50px 9px rgba(254, 254, 254);
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	animation: load 1s infinite;
}

@keyframes load {
	0% {
		left: -100%;
	}
	100% {
		left: 150%;
	}
}
